h1 {
    font-size: 2em !important;
    
  }

.container-Card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    // border: 2px red solid;
    text-align: center;
    justify-content: center;
    

    img {
        width: 100%;
        height: 50%;
        border-radius: 10px;
    }
}


.App{
    display: grid;
    text-align: center;
    justify-content: center;

    .title {
        font-size: 5em !important;
    }
}

@media only screen and (max-width: 794px){

.container-Card {
    display: grid;
    grid-template: 
            "a b c" 1fr
            "e f g" 1fr;
            
    gap: 30px;
    // border: 2px red solid;
    text-align: center;
    justify-content: center;
    

    img {
        width: 100%;
        height: 50%;
        border-radius: 10px;
    }
}
}